/* Styles for the main content section */
main {
  height: 667px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.about-off {
  color: #101010;
}

.container h1 {
  align-self: center;
}

.container p {
  width: 80%;
}

@media only screen and (max-width: 1285px) {
  .newsletter img {
    display: flex;
    justify-content: flex-end;
  }
  .newsletter p {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  .nav-bar {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .newsletter,
  .light-mode {
    display: none;
  }
  .nav-right {
    padding: 0;
    justify-self: flex-start;
  }
  .logine {
    margin-right: 30px;
    justify-self: flex-start;
  }
}
