@import url('https://fonts.cdnfonts.com/css/oldion');

/* Styles for the main content section */

main {
  margin: 90px 80px;
}

.hero {
  background: url(/img/god-of-war-ragnarok-ngplus-homepage-hero-banner-desktop-01-en-31mar23.jpg) no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero a {
  color: white;
  font-family: 'Oldion', sans-serif;
  font-size: 28px;
}

.bottom {
  width: 100%;
  display: flex;
  margin-top: 100px;
}

.latest {
  width: 100%;
}

.section-title {
  background-color: #ff7628;
  width: 20px;
  height: 20px;
}

.section-title span {
  margin-left: 25px;
  position: absolute;
  font-size: 12px;
  color: white;
}

.sectionTitleOff {
  color: black !important;
}

.bottom-text {
  color: black !important;
}

.news {
  display: flex;
  background-color: #1e1e1e;
  width: 80%;
  height: 220px;
  margin: 30px 0;
  border-bottom: 1px solid #a39e9e;
  overflow: hidden !important;
  border-radius: 10px;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news:hover {
  transform: scale(1.05);
  transition: 1s;
}

.news-light {
  background-color: rgba(132, 107, 77, 0.946);
}

.news img {
  width: 272px;
  height: 100%;
}

.text-side {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0  20px;
}
.text-side h2 {
  font-size: 24px;
}
.text-side p:nth-child(1) {
  color: #ff7628;
  font-size: 12px;
}
.text-side p:nth-child(3),
.text-side p:nth-child(4) {
  font-weight: 100;
  font-size: 14px;
}

.text-side p:nth-child(4) span {
  font-weight: 700;
}


@media (max-width: 1000px) {
  main {
    margin: 30px;
  }
  .hero {
    background: url(/img/mini-god-of-war-ragnarok-ngplus-homepage-hero-banner-desktop-01-en-31mar23.jpg) no-repeat;
  }
  
  .hero a {
    align-self: flex-end;
  }
  .right-side {
    display: none;
  }

  .bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100%;
  }

  .latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section-title {
    align-self: flex-start;
    margin-top: 20px;
  }
  .news {
    flex-direction: column;
    height: 80%;
    width: 100%;
  }
  .text-side {
    height: 300Px;
  }

  .news img {
    width: 100%;
  }

  .fixed-side {
    display: none;
  }
  
}

@media (max-width: 500px) {
  .hero {
    background: url(/img/godofwar-phone.jpg) no-repeat;
    border-radius: 10px;
  }
}